<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring Boot App" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="com.ufh.SpringAssignment1.SpringAssignment1Application" />
    <module name="SpringAssignment1" />
    <option name="PROGRAM_PARAMETERS" value="$Classpath$" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>